Repository DrJLabs/ice-t: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, yamllint, check-json, mypy, python-check-ast, security-check

check-yaml:
  name: Check YAML
  entry: python3 tools/pre_commit_helpers.py check-yaml
  language: system
  stages:
  - pre-commit
  - manual

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  stages:
  - pre-commit
  - manual

check-json:
  name: Check JSON
  entry: python3 tools/pre_commit_helpers.py check-json
  language: system
  stages:
  - pre-commit
  - manual

mypy:
  name: MyPy Type Checking
  entry: mypy
  language: python
  additional_dependencies:
  - mypy>=1.15.0
  - pydantic[mypy]>=2.7.4
  - rich>=13.7.1
  stages:
  - pre-commit
  - manual

python-check-ast:
  name: Check Python AST
  entry: python3
  args:
  - -m
  - py_compile
  language: system
  stages:
  - pre-commit
  - manual

security-check:
  name: Basic Security Check
  entry: python3 tools/pre_commit_helpers.py security-check
  language: system
  stages:
  - pre-commit
  - manual

chore: update tooling and docs for ruff
  .env.example
  .gitignore
  .pre-commit-config.yaml
  README.md
  dev-requirements.txt
  requirements.txt
  scripts/migration/migrate_to_project_runners.sh
  scripts/setup/codex_setup_script.sh
  scripts/setup/codex_setup_script_optimized.sh
  scripts/setup/setup_pre_commit.sh
Due: check-yaml

ci: ignore codex folder on push
  .github/workflows/turbo-ci-persistent-runners.yml
Due: check-yaml, yamllint

ci: store full logs on failure
  .github/workflows/save-failed-log.yml
Due: check-yaml, yamllint

chore(ci): commit metrics with skip and retry
  .github/workflows/collect-ci-metrics.yml
Due: check-yaml, yamllint

ci: store failure logs in new directory
  .github/workflows/save-failed-log.yml
Due: check-yaml, yamllint

ci(metrics): append sample entry [skip ci]
  .codex/metrics/ci-metrics.jsonl
  .github/workflows/collect-ci-metrics.yml
Due: check-yaml, yamllint

fix: generalize error log extraction
  .github/workflows/save-failed-log.yml
Due: check-yaml, yamllint

docs: add CI logging overview [skip ci]
  docs/ci_logging.md
Due: none

test: remove intentional failure
  tests/smoke/test_basic.py
Due: python-check-ast, security-check

docs: store ci logs under codex logs
  docs/ci_logging.md
Due: none

fix(workflows): trim logs correctly
  .github/workflows/save-failed-log.yml
Due: check-yaml, yamllint

Remove tracked pyc files in scripts
  scripts/__pycache__/cleanup_cursor_sessions.cpython-312.pyc
  scripts/__pycache__/debug_ci.cpython-312.pyc
  scripts/__pycache__/fix_cursor_rules.cpython-312.pyc
  scripts/__pycache__/mcp_auto_heal_cli.cpython-312.pyc
  scripts/__pycache__/mcp_auto_heal_server.cpython-312.pyc
  scripts/__pycache__/quick_fix_rules.cpython-312.pyc
  scripts/__pycache__/test_merge_queue.cpython-312.pyc
  scripts/diagnostics/__pycache__/cursor_context_monitor.cpython-312.pyc
  scripts/utilities/__pycache__/optimize_context.cpython-312.pyc
  scripts/validation/__pycache__/check_codex_compatibility.cpython-312.pyc
  scripts/validation/__pycache__/validate_offline_readiness.cpython-312.pyc
Due: none

Add MIT license
  LICENSE
  pyproject.toml
Due: none

Add CLI tests for tools and adaptive test runner
  tests/utils/test_adaptive_runner.py
  tests/utils/test_pre_commit_helpers.py
Due: python-check-ast, security-check

Standardize dependency versions
  dev-requirements.txt
  scripts/setup/codex_setup_minimal.sh
  scripts/setup/codex_setup_script.sh
  scripts/setup/codex_setup_script_optimized.sh
Due: none

Simplify setup script and update docs
  README.md
  scripts/setup_dependencies.sh
Due: none

Add pip-tools lockfile generation
  .github/workflows/turbo-ci-persistent-runners.yml
  README.md
  dev-requirements.in
  dev-requirements.txt
  requirements.in
Due: check-yaml, yamllint

ci(runners): standardize setup
  .github/workflows/ci-nightly.yml
  .github/workflows/diagram-generation.yml
  .github/workflows/revert-on-failure.yml
  configure_runners.sh
  scripts/setup/setup_runner_safe.sh
  setup_ice_t_runners.sh
Due: check-yaml, yamllint

Bump pre-commit version to 4.0.1
  .pre-commit-config.yaml
  README.md
  dev-requirements.txt
  requirements.txt
  scripts/migration/migrate_to_project_runners.sh
  scripts/setup/codex_setup_script.sh
  scripts/setup/codex_setup_script_optimized.sh
  scripts/setup/setup_pre_commit.sh
Due: check-yaml

Add dev extras and update setup scripts
  pyproject.toml
  scripts/maintenance/generate_lockfiles.sh
  scripts/setup/setup_runner_safe.sh
  scripts/setup_dependencies.sh
Due: none

docs: streamline setup instructions
  README.md
Due: none

refactor setup scripts to use lock files
  README.md
  scripts/setup/codex_setup_minimal.sh
  scripts/setup/codex_setup_script.sh
  scripts/setup/codex_setup_script_optimized.sh
  scripts/setup/codex_setup_simplified.sh
  scripts/setup/codex_setup_ultra_minimal.sh
Due: none

Add setup_env script and update references
  CODEX_T_MODERNIZATION_PLAN.md
  scripts/setup/setup_env.sh
  scripts/update_diagram_docs.py
Due: python-check-ast, security-check

docs(agent): add root overview
  AGENTS.md
Due: none

docs: add core protocol files
  agents/core/001-abundance-mindset.md
  agents/core/002-discoverable-codebase.md
  agents/core/003-quality-standards.md
Due: none

docs(playbooks): add bug fix and dependency update guides
  agents/playbooks/FIX_BUG.md
  agents/playbooks/UPDATE_DEPENDENCIES.md
Due: none

docs: introduce agents index
  AGENTS.md
  README.md
Due: none

docs: add vertical slice architecture guide
  agents/features/001-vertical-slice-architecture.md
Due: none

docs: mark phase 0 agent guidance tasks complete
  CODEX_T_MODERNIZATION_PLAN.md
Due: none

Add lockfile validation script and integrate in CI
  .github/workflows/turbo-ci-persistent-runners.yml
  scripts/validate_lockfiles.sh
Due: check-yaml, yamllint

Install pre-commit in safe setup
  .pre-commit-config.yaml
  README.md
  dev-requirements.txt
  requirements.txt
  scripts/migration/migrate_to_project_runners.sh
  scripts/setup/codex_setup_script.sh
  scripts/setup/codex_setup_script_optimized.sh
  scripts/setup/setup_pre_commit.sh
  scripts/setup/setup_runner_safe.sh
Due: check-yaml

Improve setup script and README
  README.md
  scripts/setup_dependencies.sh
Due: none

Document how to regenerate lock files
  README.md
  scripts/setup/codex_setup_minimal.sh
  scripts/setup/codex_setup_script.sh
  scripts/setup/codex_setup_script_optimized.sh
  scripts/setup/codex_setup_simplified.sh
  scripts/setup/codex_setup_ultra_minimal.sh
Due: none

remove license metadata
  LICENSE
  pyproject.toml
  scripts/maintenance/generate_lockfiles.sh
  scripts/setup/setup_runner_safe.sh
  scripts/setup_dependencies.sh
Due: none

docs: summarize agents hierarchy
  AGENTS.md
  README.md
Due: none

chore(ci): add logs directory with gitkeep
  .codex/logs/.gitkeep
  .gitignore
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  yamllint: any of: .github/workflows/.*\.yml$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  check-json: any of: \.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  mypy: any of: ^src/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$
)
  python-check-ast: any of: \.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  security-check: any of: \.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

