Repository DrJLabs/ice-t: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, ruff-check, ruff-format, mypy, python-check-ast, security-check

.pre-commit-config.yaml:

# Pre-commit hooks for ice-t Development Environment
# Optimized configuration for AI agent compatibility and reliability

repos:
  # Built-in hooks for basic file hygiene
  - repo: local
    hooks:
      # File formatting and cleanup
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: python3 tools/pre_commit_helpers.py trailing-whitespace
        language: system
        types: [text]
        stages: [pre-commit, manual]

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: python3 tools/pre_commit_helpers.py end-of-file
        language: system
        types: [text]
        stages: [pre-commit, manual]

      - id: check-yaml
        name: Check YAML
        entry: python3 tools/pre_commit_helpers.py check-yaml
        language: system
        files: \.(yaml|yml)$
        stages: [pre-commit, manual]

      - id: check-json
        name: Check JSON
        entry: python3 tools/pre_commit_helpers.py check-json
        language: system
        files: \.json$
        stages: [pre-commit, manual]

      - id: check-merge-conflict
        name: Check for merge conflicts
        entry: python3 tools/pre_commit_helpers.py check-merge-conflict
        language: system
        types: [text]
        stages: [pre-commit, manual]

      # Python code formatting and linting with Ruff
      - id: ruff-check
        name: Ruff Linter (Check & Fix)
        entry: sh
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff check --fix --exit-zero --show-fixes "$@"; else echo "⚠️ ruff not available - install with: pip install ruff"; fi', '--']
        language: system
        types: [python]
        stages: [pre-commit, manual]

      - id: ruff-format
        name: Ruff Formatter
        entry: sh
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff format "$@"; else echo "⚠️ ruff not available - install with: pip install ruff"; fi', '--']
        language: system
        types: [python]
        stages: [pre-commit, manual]

      # Type checking with MyPy
      - id: mypy
        name: MyPy Type Checking
        entry: sh
        args: ['-c', 'if command -v mypy >/dev/null 2>&1; then mypy --config-file=pyproject.toml "$@"; else echo "⚠️ mypy not available - install with: pip install mypy"; fi', '--']
        language: system
        types: [python]
        files: ^src/
        stages: [pre-commit, manual]

      # Fast syntax check for all Python files
      - id: python-check-ast
        name: Check Python AST
        entry: python3
        args: ['-m', 'py_compile']
        language: system
        types: [python]
        stages: [pre-commit, manual]

      # Security check (basic patterns)
      - id: security-check
        name: Basic Security Check
        entry: python3 tools/pre_commit_helpers.py security-check
        language: system
        types: [python]
        stages: [pre-commit, manual]

      # ice-t smoke tests
      - id: ice-t-smoke-tests
        name: ice-t Smoke Tests
        entry: sh
        args: ['-c', 'if [ -f "scripts/adaptive_test_runner.py" ]; then python3 scripts/adaptive_test_runner.py run --smoke; else echo "⚠️ adaptive_test_runner.py not found - skipping smoke tests"; fi']
        language: system
        pass_filenames: false
        stages: [pre-commit, manual]

# Pre-commit configuration
default_stages: [pre-commit]
fail_fast: false  # Continue running hooks even if one fails
minimum_pre_commit_version: "3.0.0"

# Exclude patterns
exclude: |
  (?x)^(
    \.venv/.*|
    venv/.*|
    .*\.min\.js|
    .*\.min\.css|
    .*/migrations/.*|
    .*/node_modules/.*|
    build/.*|
    dist/.*|
    logs/.*|
    \.coverage.*|
    htmlcov/.*|
    __pycache__/.*|
    .*\.pyc$|
    .*\.pyo$|
    \.git/.*
  )$

Add comprehensive .gitignore to prevent committing build artifacts and cache files
  .gitignore
Due: none

CI: Modify code-quality job to run ruff directly
  .github/workflows/turbo-ci-persistent-runners.yml
Due: check-yaml

Fix missing newlines
  .github/workflows/turbo-ci-persistent-runners.yml
  .python-version
  dev-requirements.txt
  pyproject.toml
  requirements.txt
  src/ice_t/__init__.py
  src/ice_t/core/__init__.py
  src/ice_t/features/__init__.py
  src/ice_t/integrations/__init__.py
  src/ice_t/utilities/__init__.py
Due: check-yaml, ruff-check, ruff-format, mypy, python-check-ast, security-check

Remove tracked pycache and update ruff config
  .github/workflows/turbo-ci-persistent-runners.yml
  .python-version
  dev-requirements.txt
  pyproject.toml
  requirements.txt
  src/ice_t/__init__.py
  src/ice_t/__pycache__/__init__.cpython-312.pyc
  src/ice_t/core/__init__.py
  src/ice_t/features/__init__.py
  src/ice_t/integrations/__init__.py
  src/ice_t/utilities/__init__.py
  tests/smoke/__pycache__/__init__.cpython-312.pyc
  tests/smoke/__pycache__/test_basic.cpython-312-pytest-8.3.5.pyc
Due: check-yaml, ruff-check, ruff-format, mypy, python-check-ast, security-check

docs: update runner setup for diagrams
  RUNNER_SETUP_INSTRUCTIONS.md
  configure_runners.sh
  setup_ice_t_runners.sh
  src/ice_t/__pycache__/__init__.cpython-312.pyc
  tests/smoke/__pycache__/__init__.cpython-312.pyc
  tests/smoke/__pycache__/test_basic.cpython-312-pytest-8.3.5.pyc
Due: none

fix: ensure CI bypass runs on workflow updates
  .github/workflows/ci-workflow-bypass.yml
  docs/CI_BYPASS_MECHANISM.md
Due: check-yaml

ci: add doc bypass rules
  .github/workflows/turbo-ci-persistent-runners.yml
Due: check-yaml

Add initial AI guidance documents
  agents/charter/AI_CHARTER.md
  agents/conventions/CODING_CONVENTIONS.md
  agents/conventions/TOOL_USAGE.md
  agents/playbooks/IMPLEMENT_FEATURE.md
Due: none

Add pre_commit_helpers and update mypy hook
  .pre-commit-config.yaml
  tools/pre_commit_helpers.py
Due: check-yaml, ruff-check, ruff-format, python-check-ast, security-check

Remove exit-zero from ruff precommit hook
  .pre-commit-config.yaml
Due: check-yaml

chore: align ruff version
  requirements.txt
  scripts/migration/migrate_to_project_runners.sh
  scripts/setup/codex_setup_simplified.sh
Due: none

Raise pre-commit version
  .pre-commit-config.yaml
  README.md
  src/ice_t/__pycache__/__init__.cpython-312.pyc
  tests/smoke/__pycache__/__init__.cpython-312.pyc
Due: check-yaml

Add basic unit tests
  tests/conftest.py
  tests/core/test_metadata.py
Due: ruff-check, ruff-format, python-check-ast, security-check

Add basic tests for core, features, and utilities
  tests/core/test_core.py
  tests/features/test_features.py
  tests/utils/test_utils.py
Due: ruff-check, ruff-format, python-check-ast, security-check

chore: improve workflows and docs
  .github/workflows/auto-merge.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/diagram-generation.yml
  .github/workflows/revert-on-failure.yml
  .github/workflows/turbo-ci-persistent-runners.yml
  .pre-commit-config.yaml
  README.md
  RUNNER_SETUP_INSTRUCTIONS.md
  dev-requirements.txt
Due: check-yaml

docs: document diagram workflow
  README.md
Due: none

Create setup-venv composite action and use in CI
  .github/actions/setup-venv/action.yml
  .github/workflows/turbo-ci-persistent-runners.yml
Due: check-yaml

chore: create PR for revert on failure
  .github/workflows/revert-on-failure.yml
Due: check-yaml

feat: move auto-merge logic to python
  .github/workflows/auto-merge.yml
  scripts/evaluate_auto_merge.py
Due: check-yaml, ruff-check, ruff-format, python-check-ast, security-check

chore: repair workflows and scripts
  .github/workflows/auto-merge.yml
  .github/workflows/diagram-generation.yml
  .github/workflows/revert-on-failure.yml
  .github/workflows/turbo-ci-persistent-runners.yml
  .pre-commit-config.yaml
  .python-version
  RUNNER_SETUP_INSTRUCTIONS.md
  configure_runners.sh
  dev-requirements.txt
  scripts/generate_workflow_diagrams.py
  scripts/setup_dependencies.sh
  src/ice_t/__init__.py
  src/ice_t/core/__init__.py
  src/ice_t/features/__init__.py
  src/ice_t/integrations/__init__.py
  src/ice_t/utilities/__init__.py
  tests/core/test_core.py
  tests/smoke/test_basic.py
Due: check-yaml, ruff-check, ruff-format, mypy, python-check-ast, security-check

docs: add modernization checklist and update guides
  CODEX_T_MODERNIZATION_PLAN.md
  README.md
  agents/charter/AI_CHARTER.md
  agents/conventions/CODING_CONVENTIONS.md
  agents/conventions/TOOL_USAGE.md
Due: none

docs: document unit and integration hooks
  README.md
Due: none

Add unit and integration tests hooks
  .pre-commit-config.yaml
Due: check-yaml

Add Bandit and Safety pre-commit hooks
  .pre-commit-config.yaml
  README.md
Due: check-yaml

feat(test-runner): support sequential groups
  README.md
  scripts/adaptive_test_runner.py
Due: ruff-check, ruff-format, python-check-ast, security-check

chore: align dependency versions
  .pre-commit-config.yaml
  dev-requirements.txt
  pyproject.toml
  requirements.txt
  scripts/migration/migrate_to_project_runners.sh
  scripts/setup/codex_setup_minimal.sh
  scripts/setup/codex_setup_script.sh
  scripts/setup/codex_setup_script_optimized.sh
  scripts/setup/codex_setup_simplified.sh
Due: check-yaml

Add linux label to runner setup scripts
  RUNNER_SETUP_INSTRUCTIONS.md
  configure_runners.sh
  setup_ice_t_runners.sh
Due: none

test: cover diagram generation utilities
  tests/scripts/test_diagram_generation.py
Due: ruff-check, ruff-format, python-check-ast, security-check

test: cover adaptive test runner
  tests/utils/test_adaptive_runner.py
Due: ruff-check, ruff-format, python-check-ast, security-check

test: validate workflow yaml
  tests/ci/test_workflow_yaml.py
Due: ruff-check, ruff-format, python-check-ast, security-check

chore: add tox configuration mirroring CI
  README.md
  tox.ini
Due: none

test: add coverage for pre-commit helper utilities
  tests/utils/test_pre_commit_helpers.py
Due: ruff-check, ruff-format, python-check-ast, security-check

chore: update mypy python target to 3.12
  pyproject.toml
Due: none

feat: support api test directory in heal routine
  scripts/adaptive_test_runner.py
  tests/api/__init__.py
  tests/api/test_placeholder.py
Due: ruff-check, ruff-format, python-check-ast, security-check

fix: remove duplicate workflow-validation job
  .github/workflows/turbo-ci-persistent-runners.yml
Due: check-yaml

docs: update modernization checklist
  CODEX_T_MODERNIZATION_PLAN.md
Due: none

Add runner label fix script - runners need reconfiguration with correct labels
  fix_runner_labels.sh
Due: none
