Repository DrJLabs/ice-t: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, yamllint, check-json, mypy, python-check-ast, security-check

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  yamllint: any of: .github/workflows/.*\.yml$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  check-json: any of: \.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  mypy: any of: ^src/ and \.py$ and not ((?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$
)
  python-check-ast: any of: \.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$

  security-check: any of: \.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  .*/migrations/.*|
  .*/node_modules/.*|
  .*/venv/.*|
  .*/\.venv/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  logs/.*|
  \.coverage.*|
  htmlcov/.*
)$


ci(metrics): append for run 1748970374 [skip ci]
  .codex/metrics/ci-metrics.jsonl
Due: none

docs: link CI logging system
  README.md
Due: none

feat(ci): log summary and alert scripts
  .github/workflows/alert-failure-log.yml
  README.md
  docs/CI_LOGGING_SYSTEM.md
  scripts/monitoring/send_failure_alert.py
  tests/utils/test_ci_log_summary.py
  tools/ci_log_summary.py
Due: check-yaml, yamllint, python-check-ast, security-check

feat: make coverage threshold configurable
  .github/workflows/turbo-ci-persistent-runners.yml
  README.md
  pyproject.toml
  scripts/adaptive_test_runner.py
Due: check-yaml, yamllint, python-check-ast, security-check

Add test group config and dynamic runner
  .github/workflows/turbo-ci-persistent-runners.yml
  agents/conventions/TOOL_USAGE.md
  scripts/adaptive_test_runner.py
  tests/groups.json
  tests/utils/test_adaptive_runner.py
Due: check-yaml, yamllint, check-json, python-check-ast, security-check

Configure pytest via pyproject
  README.md
  pyproject.toml
Due: none

Improve AdaptiveTestRunner docstrings
  scripts/adaptive_test_runner.py
Due: python-check-ast, security-check

Add fail trigger file
  test-trigger-fail
Due: none

chore: restore baseline coverage file
  README.md
  scripts/adaptive_test_runner.py
  tests/integration/test_sample.py
Due: python-check-ast, security-check

sync dependency lists
  dev-requirements.in
  dev-requirements.txt
  pyproject.toml
  requirements.txt
Due: none

Update lockfile validation
  .pre-commit-config.yaml
  scripts/validate_lockfiles.sh
Due: check-yaml

Setup Codacy MCP server configuration for Cursor - Added proper configuration, setup guide, and verification script
  .codacy/codacy.yaml
  .cursor/mcp.json
  .gitignore
  docs/CODACY_CURSOR_SETUP.md
  scripts/utilities/verify_codacy_mcp_setup.sh
  tools/codacy-analysis-cli.jar
Due: check-yaml, check-json
